/.idea/dl_dw_project_fs2025.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/webResources.xml
/.idea/workspace.xml
/data